<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1084401273840-vuoio13d4jf19ju2k5nb7nu9rvtloidn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084401273840-vuoio13d4jf19ju2k5nb7nu9rvtloidn</string>
	<key>API_KEY</key>
	<string>AIzaSyDP9nqRfRDcboCYfh75EGGL_hk0ASbBC7M</string>
	<key>GCM_SENDER_ID</key>
	<string>1084401273840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.critizr.test.DeepLinkTestFlunch</string>
	<key>PROJECT_ID</key>
	<string>flunch-233cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flunch-233cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084401273840:ios:13f2c3e3457b8bca</string>
	<key>DATABASE_URL</key>
	<string>https://flunch-233cd.firebaseio.com</string>
</dict>
</plist>